<!DOCTYPE html>
<html>
  <head>
    <title><%= @groom %> ♥ <%= @bride %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="landing">
    <% number_of_days_of_marriage = (Date.today - Date.parse('2016-11-21')).to_i %>
    <% number_of_years_of_marriage = number_of_days_of_marriage / 365 %>
    <div id="page-wrapper">
      <header id="header" class="alt">
        <h1><a href="index.html"><%= @groom %> <span class="icon fa-heart-o"></span> <%= @bride %></a></h1>
        <nav id="nav">
          <ul>
            <li class="special">
              <a href="#menu" class="menuToggle"><span>Menu</span></a>
              <div id="menu">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="#one">The Wedding</a></li>
                  <li><a href="#two">Events</a></li>
                  <li><a href="#cta">Our Story</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <section id="banner">
        <div class="inner">
          <h2><%= @bride %> & <%= @groom %></h2>
          <% if number_of_years_of_marriage == 0 %>
            <p>Are getting hitched!</p>
          <% else %>
            <p>
              <%= number_of_years_of_marriage.humanize.titleize %>
              year of marriage
            </p>
          <% end %>
          <br/><br/>
          <%= render 'layouts/ribbon' %>
        </div>
        <a href="#one" class="more scrolly"></a>
      </section>

      <section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <% if number_of_years_of_marriage == 0 %>
                  <h2>The Wedding</h2>
                <% else %>
                  <h2>
                    <%= @years[number_of_years_of_marriage] %>
                    Anniversary
                  </h2>
                <% end %>
                <p><%= @wedding_info.wedding_countdown_quote %></p>
              </header>
              <div id="DateCountdown" data-date="2016-11-21 14:00:00" style="width: 100%;"></div>
            </div>
      </section>

      <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Details</h2>
                <p><%= @wedding_info.wedding_details_quote %></p>
              </header>
              <ul class="features">
                <li class="icon fa-gittip">
                  <% wedding_ceremony = @ceremonies.where(name: 'Wedding').first %>
                  <h3>Wedding Ceremony</h3>
                  <p><%= wedding_ceremony.message %></p>

                  <p><span class="icon fa-calendar"></span>&nbsp;&nbsp;&nbsp;
                  <%= wedding_ceremony.ceremony_date.stamp('21st November, 2016') %></p>
                  <p><span class="icon fa-clock-o"></span>&nbsp;&nbsp;&nbsp;
                  <%= wedding_ceremony.ceremony_time %></p>
                  <p><span class="icon fa-map-o"></span>&nbsp;&nbsp;&nbsp;
                  <%= wedding_ceremony.ceremony_location %></p>

                </li>
                <li class="icon fa-gittip">
                  <% reception_ceremony = @ceremonies.where(name: 'Reception').first %>
                  <h3>Reception</h3>
                  <p><%= wedding_ceremony.message %></p>
                  <p><span class="icon fa-calendar"></span>&nbsp;&nbsp;&nbsp;
                  <%= reception_ceremony.ceremony_date.stamp('21st November, 2016') %></p>
                  <p><span class="icon fa-clock-o"></span>&nbsp;&nbsp;&nbsp;
                  <%= reception_ceremony.ceremony_time %></p>
                  <p><span class="icon fa-map-o"></span>&nbsp;&nbsp;&nbsp;
                  <%= reception_ceremony.ceremony_location %></p>
                </li>
              </ul>
            </div>
      </section>

      <section id="two" class="wrapper alt style2">
        <% @event_galleries.each do |event_gallery| %>
          <section class="spotlight">
            <div class="image">
              <img src="<%= image_path_custom(event_gallery.name.downcase) %>" alt="" />
            </div>
            <div class="content">
              <h2><%= event_gallery.name %><br />
              <%= event_gallery.event_date.stamp("21st November, 2016") %></h2>
              <p>
                <ul class="actions">
                  <% if event_gallery.active %>
                    <li><a href="#" class="button small"></a></li>
                  <% else %>
                    <li><span class="button small">Album - Coming Soon</span></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </section>
        <% end %>
      </section>

      <section id="one-one" class="wrapper style1 special">
        <div class="inner">
          <header class="major">
                <h2>InstaGallery</h2>
                <p><%= @wedding_info.instagallery_quote %></p>
              </header>
          <div class='box alt'>
            <div id="instafeed" class="row uniform 50%">
            </div>
          </div>
        </div>
      </section>


        <!-- CTA -->
          <section id="cta" class="wrapper style4">
            <div class="inner">
              <div class='audio_player'>
                <audio src="<%= audio_path 'ishqwala.mp3'%>" loop />
              </div>
              <header>
                <h2>Our Story</h2>
                <p><%= raw @wedding_info.our_story %></p>
              </header>
            </div>
          </section>
      <%= yield %>
      <footer id="footer">
        <ul class="copyright">
          <li><a href="http://www.abhijitsinha.me" target="_blank">Positive Vibes</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
